.sidebar_container {
  padding: 1.25rem;
  border-right: 1px solid #ebecf2;
  background: #f7f8fa;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  @media (max-width: 789px) {
    display: none;
  }

  .head_logo {
    padding: 1rem 0 1.25rem 0.5rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
    position: relative;

    li {
      display: flex;
      cursor: pointer;

      img {
        transition: all 0.4s ease-in-out;
        &:hover {
          transform: rotate(360deg);
        }
      }
      p {
        display: none;
        position: absolute;
        font-size: 0.75rem;
        right: -5rem;
        width: 5rem;
        padding: 0.25rem;
        background-color: rgba(0, 0, 0, 0.723);
        color: #f7f8fa;
        z-index: 30;
        transform: translateY(0.4rem);
      }
      &:hover p {
        display: flex;
      }
    }

    li.theme {
      display: flex;
      padding: 0.5rem;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      border-radius: 6.25rem;
      background: #fff;
      margin-bottom: 5rem;
      transition: all 0.5s ease-in-out;

      svg {
        width: 2rem;
        height: 2rem;
      }
      svg.background {
        background-color: #34caa5;
        padding: 0.5rem;
        border-radius: 50%;
      }

      // img {
      //   padding: 0.41rem;
      //   border-radius: 50%;
      //   width: 1.875rem;
      //   height: 1.875rem;
      // }
    }
  }
}
